body{
	font-family: 'Inconsolata', monospace;
	font-size: 1em;
	background-color: #F8F8F8;
	color: #333333;

}
p {
	font-size: 0.9em;

}


img {
	width: 100%;
	height: auto;
}

video {
  width: 100%    !important;
  height: auto   !important;
}

iframe {
	width: 100%  !important;
	height: 40vw;
}
.citations {
	padding: 3em;
}
.citations h1 {
	font-size: 2em;
	text-decoration: underline;
}

.citations h2 {
	padding-top: 1.4em;
	font-size: 1.5em;
	text-decoration: underline;
}

.title {
	padding-top: 2em;
}
.styleguide-nav {
	position: relative;
	padding-top: 0;
/*	z-index: 3;
	top: 50vh;
	transform: translateY(-50%);*/
}

.styleguide-nav ul{
	list-style: none;
	padding-left: 0;
}

.styleguide-nav a{
	color: #000000;
	text-decoration: none;
}

.styleguide-nav a:hover, .styleguide-nav a:focus, .styleguide-nav a:active {
	text-decoration: line-through;
	color: #000000;

}

.styleguide-nav li{
	line-height: 2em;
}

.hamburger-menu {
	font-size: 2em;
	cursor: pointer;
	position: fixed;
	z-index: 2
}

.close-button {
	font-size: 4em;
	text-decoration: none;
	margin: -0.15em 0 0 -0.04em;
}

a {
	color: #333;
	font-size: 0.9rem;
/*	-webkit-transition: color 0.1s ease-out;
	-moz-transition: color 0.1s ease-out;
  	-o-transition: color 0.1s ease-out;
	transition: color 0.1s ease-out;*/
}
a:hover, a:focus, a:active {
	text-decoration: none;
	color: blue;
}


/*
h2 {
	font-family: 'Overpass', sans-serif;
	font-weight: 400;
	font-size: 2.5em;
	margin: 0;

}*/



ul {
	font-size: 0.9em;
	list-style: none;
	padding-left: 0;

}

li {
	line-height: 2em;
}
.underline {
	border-top: 2px solid black;
	width: 100%;
	margin-top: -1em;
}

.section-title {
	font-family: 'Lora', serif;
	padding-top: 8em;
	padding-bottom: 1em;

}
#intro{
	position: relative;
}

.background-box {

	width: 90vw;
	height: 80vh;
	background-color: #c5c5c5;
	z-index: -1;
}

#colours{
	position: relative;
}

.colour-box-1, .colour-box-2, .colour-box-3, .colour-box-4 {
	background-color: black;
	color: white;
	width: 150px;
	height: 150px;
	text-align: center;
	position: relative;
	display: inline-block;
	margin-right: 1em;
	margin-top: 2em;
}

.colour-box-1 {
	background-color: #000000;
}

.colour-box-2 {
	background-color: #FF8279;
}

.colour-box-4 {
	background-color: #F5F5F5;
	color: #000;
}
.colour-box-1 p, .colour-box-2 p, .colour-box-3 p, .colour-box-4 p {
	position:absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.code-heading{
	margin: 2em 0 1em 0;
}
.rendered-example{
	margin: 2em 2em 0 2em;
}

#headers .grid-col-1of3, #headers .grid-col-2of3, #body .grid-col-1of3, #body .grid-col-2of3   {
	padding: 0;

}

/*------WORK ATTEMPT 3---------*/



.text-over-image{
	text-align: center;
	position: absolute;
	color: white;
	text-transform: uppercase;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 46%;
	left: 50%;
	z-index: 2;
	letter-spacing: 0.3em;

}


.intro-section h1 {
	font-family: 'Bagnard', serif;
    font-weight: normal;
    font-style: normal;
	font-size: 7em;
	letter-spacing: 0.3em;
	color: #333;
   -webkit-text-fill-color: rgba(0,0,0,0); 
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: #333;


}

.box-container {

	position: fixed;
	height: 250px;
	transform: translate(-50%, -50%);
	top: 50vh;
	left: 50vw;
}

.top-line {
	position: absolute;
	top: -20px;
	left: 150px;
	width: 100%;
	text-align: center;
	transform: translate(-50%, -50%);
}

.bottom-line {
	position: absolute;
	bottom: -20px;
	left: 150px;
	width: 100%;
	text-align: center;
	transform: translate(-50%, -50%);
}
.colour-box {
	width: 300px;
	height: 200px;
	overflow: hidden;
	background-color: #fff;
	position: relative;

}
.colour-box img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;


}

.intro-section {
	position: relative;
	height: 100vh;
}
.intro-img {
	height: auto;
	width: 400px;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 38vh;
	left: 45vw;
}

/*.intro-img {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 40%;
	left: 52%;
	
}*/

@media (max-width: 40em){
	.intro-section h1 {
		font-size: 5.5em;
		width: 100%;

	}

	.intro-img {
		width: 300px;
	}
}


.work-section h2{
	font-family: 'Inconsolata', monospace;
	font-size: 1em;
	font-weight: 700;

}


.work-image-container-small, .work-image-container-large {
	width: 100%;
	overflow: hidden;
	position: relative;

}

.work-image-container-large img:hover, .work-image-container-small img:hover {
	opacity: 1;

}

.work-1, .work-2, .work-3, .work-4{
	overflow: hidden;
	position: relative;


}


.work-image-container-small img, .work-image-container-large img{
	position: absolute;
	width: 90%;
	height: 92%;
	left: 10%;
	top:13%;
	object-fit: cover;
	opacity: .85;
	-webkit-transition: opacity 0.1s ease-out;
  	-moz-transition: opacity 0.1s ease-out;
  	-o-transition: opacity 0.1s ease-out;
	transition: opacity 0.1s ease-out;
}

.work-image-container img:hover {
	opacity: 1;

}

.work-1 p, .work-2 p {
	float: right;
}
.work-title a{
	/*font-family: 'Overpass', sans-serif;
	font-weight: 800;
	text-transform: uppercase;*/
	font-family: 'Bagnard', serif;
/*	font-family: 'Akzidenz-Grotesk BQ', sans-serif;
    font-weight: bold;*/
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    text-decoration: none;
    width: 100%;
/*	margin-bottom: 0.5em;
	font-size: 1.2em;
	text-decoration: none;
	color: #000;*/
/*	color: #000;
   -webkit-text-fill-color: #F8F8F8; 
   -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color: #333;*/

}
.work-title a:hover {
	-webkit-text-fill-color: #F8F8F8; 
   -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color: #333;
}



.work-title {
	margin-top: 1em;
	position: absolute;
	top: 0%;
	width: 80%;
	z-index: 2;
}
.work-title p{
	margin: 0.5em 0 0 0;
}

.rendered-example .main-nav {
	position: relative;
	margin-left: 3em;

}


.top-right-nav-item {
	position: fixed;
	right: 4em;
	top: 3em;
	color: #000000;
}
.bottom-left-nav-item {
	position: fixed;
	left: 4em;
	bottom: 3em;
	color: #000000;
}



header a{
	color: #000;
}

header {
	position: relative;
	height: 50px;
	width: 100%;
}

.header-background {
	width: 100%;
	height: 55px;
	position: fixed;
	top:0;
	left:0;
	z-index:10;
}

.logo {
	font-family: 'Bagnard', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
	position: fixed;
	z-index: 15;
	/*font-weight: 700;*/
	text-decoration: none;
/*	color: #333;
   -webkit-text-fill-color: #F8F8F8; 
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #333;*/

}

/*.logo:hover {
	color: #333;
	-webkit-text-fill-color: #333; 
  	-webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: #333;
   

}*/


.main-nav {
	position: fixed;
	right: 1em;
	top: 0;
	z-index: 16;
}

.main-nav ul{
	list-style: none;
	padding-left: 0;
}

.main-nav li{
	display:inline;
	padding-left: 2em;
}
/*.main-nav a{
	color: #333;
	-webkit-transition: color 0.1s ease-out;
	-moz-transition: color 0.1s ease-out;
  	-o-transition: color 0.1s ease-out;
	transition: color 0.1s ease-out;
}

.main-nav a:hover {
	text-decoration: none;
	color: #ff5252;
}*/
.bio {
	max-width: 800px;
	margin-bottom: 5em;

}

.bio a{
	font-size: 1em;


}
.bio h1{
	padding-top: 4em;
	padding-bottom: 2em;
	font-family: 'Bagnard', serif;
    font-weight: normal;
    font-style: normal;
	font-size: 2em;
	line-height: 160%
}
@media (max-width: 40em){
	.bio h1{
	padding-top: 2em;
	font-size: 2em;
	padding-bottom: 2em;
	}
}

.bio .grid-col-1of2, .bio .grid-col-2of12{
	padding: 0;
}

.contact p{
	font-weight: 700;
	font-size: 1.5em
}

.psst {
	font-family: 'Bagnard', serif;
    font-weight: normal;
    font-style: normal;
	font-size: 2em;
	padding-bottom: 1em;
	color: #e7e7e7;

}
/*---------Project Template---------*/

.hero-image-container {
	height: 40vw;
	overflow: hidden;
	position: relative;
	margin: 2em auto;
	max-width: 1200px;
	max-height: 600px;
}

.hero-image-container img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.bold-text {
	font-weight: 700;
}


.project-content {
	width: 90%;
	margin: 2em auto;
	max-width: 1000px;
}

.project-content ol li {
	font-size: 0.9em;
}
.project-content h1 {
	font-family: 'Bagnard', serif;
    font-weight: normal;
    font-style: normal;
	font-size: 2em;
	margin: 0;
	margin-bottom: 0.5em;
}

.project-content h2{
	font-family: 'Inconsolata', monospace;
	line-height: 1.5em;
	font-size: 1em;
	font-weight: 700;
	margin: 0;


}



.project-content p {
	margin-top: 0;
	line-height: 1.5em;

}


.project-section {
	padding-bottom: 4em;
}

.project-section ul {
	margin: 0;
	margin-bottom: 1.5em;

}



.project-image-container, .project-image-container-half, .project-image-container-small  {
	width: 100%;
	height: 500px;
	overflow: hidden;
	position: relative;
}

.project-image-container-small {
	height: 240px;
	margin-bottom: 20px;
}

.project-image-container-small:last-of-type {
	margin-bottom: 0;
}


.project-image-container-half  {
	height: 300px;
}
.project-image-container img, .project-image-container-half img, .project-image-container-small img{
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/*--------------VIEW MORE--------------*/
.view-more {
	padding-top: 1em;
	border-top: 1px solid #e3e3e3;
	margin-bottom: 8em;
}
.view-more h2{
	font-family: 'Bagnard', serif;
    font-weight: normal;
    font-style: normal;
	font-size: 2em;
}
.view-more h3 {
	font-family: 'Inconsolata', monospace;
	line-height: 1.5em;
	font-size: 1em;
	font-weight: 700;
	margin: 0;

}

.view-more a{
	text-decoration: none;
}

.view-more a:hover {
	color: #333;
}

.view-more-item {
	padding-bottom: 2em;
	opacity: 0.5;
	-webkit-transition: opacity 0.1s ease-out;
	-moz-transition: opacity 0.1s ease-out;
  	-o-transition: opacity 0.1s ease-out;
	transition: opacity 0.1s ease-out;
	
	
}
.view-more-item:hover {
	opacity: 1;
}

/*--------------Footer--------------*/
footer {
	border: none;
	padding: 2em 4em;
	bottom: 0;
	position: fixed;
	width: 100%;
	left:0;
	margin-top: 3em;
/*	background-color: #f5f5f5;*/
}

footer .grid-col-1of4{
	padding: 0;

}


@media (max-width: 40em){
	footer {
	padding: 1em;
	}
}


.social-links ul {
	padding-left: 0;
}

.social-links li {
	display: inline;
	padding-right: 1em;
}


.fa  {
	color: #333;
	width: 2rem;
	margin: 0;
/*	-webkit-transition: color 0.1s ease-out;
	-moz-transition: color 0.1s ease-out;
  	-o-transition: color 0.1s ease-out;
	transition: color 0.1s ease-out;*/
}

/*.fa-facebook-square, .fa-instagram {
	font-size: 1.5em  !important;
}
*/
.social-icon a{
	text-decoration: none;
}

.fa:hover {
	color: blue;
}

.email {
	float: right;
	font-size: 0.9em;
	text-decoration: underline !important;
}


/*=======================DAY IN THE LIFE=======================*/

body#sd-proj, body#sd-proj-about {
	background-color: #F9F0E5;
	/*cursor: url('../images/click-me.png'), auto;*/


}

#sd-proj-about h1 {
	font-family: 'Druk Wide', sans-serif;
    font-weight: normal;
    font-style: normal;
   /* text-transform: uppercase;*/
	font-size: 1.5em;
	color: #000;
	letter-spacing: 0;
}

#sd-proj .intro-section {
	position: relative;
}
#sd-proj .intro-section h1 {
	font-family: 'Druk Wide', sans-serif;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
	font-size: 3em;
	letter-spacing: 0;
   -webkit-text-fill-color: #000;
   -webkit-text-stroke-width: 0px;
   -webkit-text-stroke-color: #000;


}

#sd-proj .title{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 35%;
	left: 50%;
	width:100%;
}

.title h1 {
	text-align: center;
}

#intro img {
	position: relative;
	top: -50%;
	width:60%;
	left: 15%;

}

#sd-proj .logo p, #sd-proj-about .logo p {
	font-family: 'Inconsolata', monospace;
	font-size: 1em;
}

#sd-proj .email {

	text-decoration: none !important;
}
#sd-proj-about a {
	color: #000;
}
#sd-proj a:hover, #sd-proj-about a:hover{
	text-decoration: line-through;
	color: #000;
}

#sd-proj .email:hover, #sd-proj-about .email:hover {
	text-decoration: line-through !important;
}

#sd-proj .work-section {
	top: 67%;
	position: relative;
}

/*.sd-section img{
	width: auto;

}*/

.line {
	/*background-color: black;
	width: 3px;
	height: 30px;*/
	width: 33px;
	position: fixed;
	left: 50%;
	top: 93%;
	transform: translate(-50%, -50%);


}

.main-icon {
	position: absolute;
	left: 0;
	top:0;
	opacity: 0;
}

.hover-icon {
	opacity: 1;
	position: absolute;
	left: 0;
	top:0;
}

.main-icon:hover {
	opacity: 1;
	/*cursor: pointer;*/
	cursor: url('../images/click-me.png'), pointer;

}

.hover-icon:hover {
	opacity: 0;
	/*cursor: pointer;*/
	cursor: url('../images/click-me.png'), pointer;
}

.time {
	padding: 15em 0;

}
.toast-container {
	position:relative;
	height: 500px;

}

.toast-gif {
	position: absolute;
	width:35%;
	left:65%;
	transform: translate(-50%,0);
}

.toast-description-1 {
	position: absolute;
	width: 8%;
	top:40%;
	left:10%;
	transform: translateY(-50%);
}

.toast-description-2 {
	position: absolute;
	width:8%;
	left:70%;
	top:50%;
	transform: translateY(-50%);
	
}



.sd-icon {
	position: relative;



}


.sd-icon img {
	width: auto;
	/*transform: translate(-50%);*/
}
#sd-proj p {
	font-family: 'Druk Wide', sans-serif;
    font-weight: normal;
    font-style: normal;
    /*text-transform: uppercase;*/
    font-size: 1.7em;
    color: #000;

}

.work-collage{
	position: relative;
	margin-top: 8em;
	height:500px;

}



.work-timelapse{
	position: absolute;
	width:50%;
	left:18%;
	top:35%;

}

.me-sam{
	width:20%;
	left:70%;
	position:absolute;
}

.me-kae{
	position:absolute;
	width:15%;
	left:60%;
	top:25%;
}

.lac{
	position:absolute;
	width:20%;
	top:5%;
	left:10%;
}
.hue-sign {
	position: absolute;
	width: 15%;
	left: 35%;
	top: 10%;
}

.work-text {
	position: absolute;
	width:15%;
	top:35%;
}

.flags {
	position:absolute;
	width:15%;
	top:50%;
	left:95%;
	transform:translate(-100%,-50%);
}
.main-img {
	position:absolute;
	
}

.main-img:hover {
	opacity:0;

}

.team-img {
	position: relative;
	left:10%;


}


.team-img img {
	width: 80%;
}
.hover-img {
	position: absolute;
	top:0;
}

.sd-section {
	margin: 6em 0;
	padding: 2em 0;
}

.sd-image-container-wide, .sd-image-container-tall {
	overflow: hidden;
	position: relative;
}

.sd-image-container-wide {
	width: 100%;
	height: 350px;
	left:10%;
}
.sd-image-container-tall {
	left:20%;
	height:500px;
	width: 400px;

}
.sd-image-container-wide img, .sd-image-container-tall img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}


#intro video {
  width: 60%    !important;
  height: auto   !important;
  position:relative;
  left: 50%;
  transform: translate(-50%,-25%);

}

.biking-container {
	position: relative;
}
.biking-container iframe {
	width: 280px  !important;
	height: 280px !important;

	position: absolute;
	top: 65%;
	left: 40%;
/*	transform: translate(-50%, 0);*/

}
.biking-container img {
	position: absolute;
	width:30%;
	top: -15%;
	left: 50%;
}

.biking-container p {
	position: absolute;
	width: 30%;
	left:70%;
	top:10%;
}
.biking-container video {

  width: 30%    !important;
  height: auto   !important;
  position:relative;
  left:30%;
  transform: translate(-50%, 0);

}

.coffee-time {
	width:auto;
	position:relative;
/*	left:50%;*/
	transform: translate(0, 25%);

}
.ollie-img {
	position: relative;
	/*left:20%;*/
}

#skating p {
	position: relative;

}


.skate-collage {
	position: relative;
	margin-top: 10em;
}

.fs180-video {
	width: 50%;
	position: relative;
	left:10%;
}

.pop-shuv {
	width: 20%;
	position: absolute;
	top: 25%;
	left:50%;

}

.cruising {
	width: 15%;
	position: relative;
	top: -100px;
/*	left: 20%;*/

}
.skate-cartoon {
	position: absolute;
	width:20%;
	top:60%;
	left:36%;

}


.no-comply {
	position: absolute;
	left:70%;
	width: 30%;
	top:15%;
}


.coffee-section {
	position: relative;
	height:500px;
}
.cooking-container {
	position: relative;
}
.cooking-video	{
	position: relative;
	width:30%;
	transform: translateX(-50%);
	left:50%;
}
.dinner-time{
	position: absolute;

	top:50%;
	transform: translateY(-50%);

}

.dance-time{
	position: absolute;

	top:50%;
	right:0%;
	transform: translateY(-50%);

}


.coffee-section .sd-icon {
	position: absolute;
	top:60%;
	left:10%;



}
.coffee-copy {
	position: absolute;
	width:40%;
	top:20%;
}
.cups-img-container{
	position: absolute;
	left:45%;
	width:30%;

	top:20%;
}
.coffee-machine {
	position: absolute;
	width:20%;
	top: 10%;
	left:75%;
}
/*
#work .sd-icon {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
}*/
/*#intro .box-container {

	position: fixed;
	height: auto;
	transform: translate(-50%, -50%);
	top: 50vh;
	left: 50vw;
}
*/
/*#sd-proj .colour-box {
	width: 300px;
	height: 500px;
	overflow: hidden;
	background-color: #fff;
	position: relative;
	top:0;

}*/

#mobile{
	position:fixed;
	width:100vw;
	height:100vh;
	top:0px;
	left:0px;
	z-index:5;
	display: block;
	background-color: #F9F0E5;
	overflow: hidden;

}

#mobile h1{
	position: relative;
	text-align: center;
	top:50%;

}
.loader{
	position: fixed;
  	left: 0px;
  	top: 0px;
  	width: 100vw;
  	height: 100vh;
  	z-index: 999999;
  	background: url('../images/loading.gif') 50% 50% no-repeat #F9F0E5;
  	background-size: auto;
  	overflow: hidden;
}
.about {
	max-width: 800px;
	margin: 5em 0;

}

.about a{
	font-size: 1em;
}
.hideme {
	opacity: 0;
}
.biking-video {
	margin: 10em 0;
}
.party-collage{
	position: relative;
	height: 500px;
}
.party-1 {
	position: absolute;
	width:20%;
	
}

.party-2 {
	position: absolute;
	width:30%;
	left:70%;
}
.party-3 {
	position: absolute;
	left:45%;
	width:25%;
	top:50%;
}
.party-time {
	position: absolute;
	left:35%;
	width:25%;
	top:-23%;
	transform: translate(-50%);
}

.party-time p{
	font-size: 4em !important;
}

.party-vid {
	width:20%;
	position: absolute;
	left:10%;
	top:10%;
}

.party-4{
	position: absolute;
	width:30%;
	left:35%;
	top:15%;
}
.party-6{
	position: absolute;
	width:15%;
	left:75%;
	top:35%;
	
}

.night-type {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width:100%;


}

.night-type p, .z-1 p{
	font-size: 6em !important;
	text-align: center;
}

.z-2 p {
	font-size: 3.5em !important;
	text-align: center;
}

.z-3 p {
	font-size: 2.5em !important;
	text-align: center;
}
.z-1 {
	position: relative;
	left: 30%;
	width:10%;
}
.z-2 {
	position: relative;
	left: 60%;
	width:10%;
}

.z-3{
	position: relative;
	left: 40%;
	width:10%;
}

.goodnight-container {
	position: relative;
	height:450px;

}

.goodnight-container {
	left: 50%;
	transform: translate(-50%, 0);
	position: relative;


}
.goodnight-icon {
	left:70%;
	top:15%;
	position: absolute;
}
.goodnight-container .goodnight-still {
	width:50%;
	left: 10%;
	position: absolute;
/*	transform: translate(-50%, 0);*/
}
#goodnight {
	margin-top:15em;
	position: relative;
	width:100%;
}
/*.intro-img {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 40%;
	left: 52%;
	
}*/
